# dependencies
/node_modules
/.node-runtime
node-v*-win-x64.zip

# next.js
/.next
/out

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-dev.log
next-dev.err.log
next-dev.pid

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
