const firebaseConfig = {
  apiKey: "AIzaSyBK9HkdnKtlO3TajuU1XWnb4fdQQVF-k4M",
  authDomain: "micro-sns-4108d.firebaseapp.com",
  projectId: "micro-sns-4108d",
  storageBucket: "micro-sns-4108d.firebasestorage.app",
  messagingSenderId: "989316189679",
  appId: "1:989316189679:web:d1077b5e8722a605ccba1a",
  measurementId: "G-212W8V6F7Q"
};


